결측치 : 비어있는 값, DB에서의 nUll과 비슷한의미
이상치 : 정상 범주에서 크게 벗어난 값.
    극단치:논리적으로 존재할 수 있지만 극단적으로 크거나 작은 값
        
        데이터 수집 과정에서 오류가 발생될 수 있기 대문에, 현장에서 만들어진 실제 데이터에는 결측치나 이상치가 포함될 수 있다
        이러한 값들이 포함되어 있으면 분석 결과가 왜곡되기 때문에 분석에 앞서 결측치와 이상치를 제거하는 작업을 해야 한다
        
## 결측치 정제 방법
        
        
1. 결측치 소거법 : 결측치가 포함된 행이나 열을 통째로 삭제한다
-  데이터가 크고 결측치가 얼마 없는 경우에는 결측치를 제거하더라도 무리가 없다
-  데이터가 작고 결측치가 많은 경우 결측치를 제거하면 너무 많은 데이터가 손실 되기 때문에 오히려 분석 결과가 더 왜곡되는 문제가 발생한다
2. 결측치 대체법 : 결측치를 제거하는 대신 다른값을 채워 넣는 방법
- 데이터가 손실되어 분석결과가 왜곡되는 문제를 보완할 수 있다
- 결측치 대체법의 종류
           A. 평균이나 최대, 최소값을 같은 대표값을 구해 모든 결측치를 하나의 값으로 일괄 대체
           B. 통계 분석 기법으로 각 결측치의 예측값을 추정 해 대체

## #01.패키지 및 샘플 데이터 준비

In [7]:
from pandas import DataFrame
from sample import grade_dic

In [8]:
#데이터프레임 만들기
성적표 = DataFrame(grade_dic, index=['철수','영희','민철','수현','호영'])
성적표

     국어    영어    수학    과학
철수   98   NaN  88.0  64.0
영희   88  90.0  62.0  72.0
민철   92  70.0   NaN   NaN
수현   63  60.0  31.0  70.0
호영  120  50.0   NaN  88.0

## #02.결측치 확인하기
1) 각 데이터의 결측치여부 확인
- 각 열에 대해 결측치가 아닐 경우 False, 결측치는 True로 표시됨
- isna() 함수도 같은 기능

In [9]:
결측치여부 = 성적표.isnull()
결측치여부

       국어     영어     수학     과학
철수  False   True  False  False
영희  False  False  False  False
민철  False  False   True   True
수현  False  False  False  False
호영  False  False   True  False

2) 각 열별로 결측치 수 파악하기
- isnull()함수로 도출된 데이터프레임의 열별로 합계를 수행하면 True는 1, False는 0으로 계산되어 진다

In [10]:
결측치합계 = 결측치여부.sum()
결측치합계

국어    0
영어    1
수학    2
과학    1
dtype: int64