# 데이터 전처리(3) - 집계함수 활용
- 모듈 참조 및 샘플데이터 가져오기

In [16]:
import numpy
from pandas import DataFrame
from sample import grade_dic

In [2]:
df = DataFrame(grade_dic, index=['철수','영희','민철','수현','호영'])
df

     국어    영어    수학    과학
철수   98   NaN  88.0  64.0
영희   88  90.0  62.0  72.0
민철   92  70.0   NaN   NaN
수현   63  60.0  31.0  70.0
호영  120  50.0   NaN  88.0

---------------------------------------
## #01. 집계함수 사용

데이터프레임에서 집계함수를 사용하면 열단위(세로방향)에 대해 수행된다

전체 열에 대한 집계

In [3]:
# 과목별 총점
df.sum()

국어    461.0
영어    270.0
수학    181.0
과학    294.0
dtype: float64

In [4]:
# 과목별 평균
df.mean()

국어    92.200000
영어    67.500000
수학    60.333333
과학    73.500000
dtype: float64

특정 열에 대한 집계

In [6]:
# 국어 과목에서 최고점수
df['국어'].max()

120

행 단위 집계

집계함수에 axis = 1 파라미터를 지정한다

- axis=0:y축, 열단위, 기본값
- axis=1:x축, 행단위, 필요한 경우 명시

In [9]:
#학생별 총점
df.sum(axis=1)

철수    250.0
영희    312.0
민철    162.0
수현    224.0
호영    258.0
dtype: float64

In [10]:
#학생별 평균
df.mean(axis=1)

철수    83.333333
영희    78.000000
민철    81.000000
수현    56.000000
호영    86.000000
dtype: float64

In [11]:
#특정행에 대한 집계
df.loc['영희'].mean()

78.0

In [12]:
#특정행에 대한 집계
df.loc['철수'].max()

98.0

행단위 집계 결과를 새로운 열로 추가하기

In [14]:
# 학생별 총점과 평균 산출
총점 = df.sum(axis=1)
평균 = df.mean(axis=1)

In [15]:
#데이터프레임의 복사본을 생성한 후 산출한 집계 결과를 새로운 열로 추가
성적표 = df.copy()
성적표['총점'] = 총점
성적표['평균'] = 평균
성적표

     국어    영어    수학    과학     총점         평균
철수   98   NaN  88.0  64.0  250.0  83.333333
영희   88  90.0  62.0  72.0  312.0  78.000000
민철   92  70.0   NaN   NaN  162.0  81.000000
수현   63  60.0  31.0  70.0  224.0  56.000000
호영  120  50.0   NaN  88.0  258.0  86.000000

---------------------------------------
## #02. 조건에 따른 선택적인 값을 추가하기

조건이 참인 경우 A, 그렇지 않은 경우 B

In [17]:
성적표['결과'] = numpy.where(성적표['평균'] >=70, '합격','불합격')
성적표

     국어    영어    수학    과학     총점         평균   결과
철수   98   NaN  88.0  64.0  250.0  83.333333   합격
영희   88  90.0  62.0  72.0  312.0  78.000000   합격
민철   92  70.0   NaN   NaN  162.0  81.000000   합격
수현   63  60.0  31.0  70.0  224.0  56.000000  불합격
호영  120  50.0   NaN  88.0  258.0  86.000000   합격

여러개의 조건중에서 선택적인 값을 추가하기

In [19]:
# 학점을 부여하기 위한 점수의 구간을 설정하는 조건들을 리스트로 설정
conditions = [(성적표['평균'] >= 90), #A
              (성적표['평균'] >= 80), #B
              (성적표['평균'] >= 70), #C
              (성적표['평균'] < 70)] #D

# 조건에 따라 부여될 학점
grade = ['A','B','C','F']

# 조건에 따른 학점열 추가하기
성적표['학점'] = numpy.select(conditions, grade)
성적표

     국어    영어    수학    과학     총점         평균   결과 학점
철수   98   NaN  88.0  64.0  250.0  83.333333   합격  B
영희   88  90.0  62.0  72.0  312.0  78.000000   합격  C
민철   92  70.0   NaN   NaN  162.0  81.000000   합격  B
수현   63  60.0  31.0  70.0  224.0  56.000000  불합격  F
호영  120  50.0   NaN  88.0  258.0  86.000000   합격  B